---
title: Dragonfly DNA Activation
navigation: primary-dark
layout: homepage
---

<div class="section hero background-off-black">
  <div class="container">
    <hgroup class="fade-out-slow">
      <h1 style="font-family: Parisienne-Regular;font-size: 125px">Dragonfly Warrior</h1>
      <h3>Activate You Spiritual Ascension</h3>
      <h4>12 & 22 Strand DNA Activation</h4>
      <h4>Energy Healing</h4>
    </hgroup>
  </div>
  <div class="scroll-arrow-wrap fade-out-fast">
    <a class="scroll-link scroll-arrow" href="javacript:"></a>
  </div>
  <div class="parallax overlay">
    <img class="fade-out-fast" alt="hero" src="assets/images/headerimage.png">
  </div>
</div>
{% include top-message.html theme="theme-tertiary-light" %}
<div class="section color-primary-dark background-white">
  <div class="container">
    <div class="row">
      <div class="col s12 center-left">
        <p>What is your <b>full potential</b>? What is everything you can do and everything you
          can be if you have no energetic resistance holding you back. No
          suppression brought about by what we're taught, how we're conditioned, and the energetic imprints of trauma and negative experiences.</p>
          <p><b>What can life be?</b> </p>
          <p>This is the question we want to help you answer. The answer to this question is what we want for you and
          the journey is throught Energy Healing and DNA activation.</p>
          <p> The energy healing works to clear and heal the energetic imprints of ancestral karma, trauma, negative experiences, and
            social conditioning that create fear, self-doubt, low self-worth and lack of confidence.
            These are the deep rooted beliefs and emotions that hold us back from reaching our potential.</p>
          <p>The 12 & 22 strand DNA activation wakes up your dormant dna strands which in turn raise your vibration and
            activates your gifts and full potential. Once this activation is done your raised vibration will
            guide you to live in a place outside of polarization. You'll ascend to live in a space that is rooted in
            the energy of love. Living in the energy of love which includes trust, self-love, self-worth, and confidence provides
            an exponential positive effect in every aspect of your life and how you live it. You'll experience this positive effect
            in your physical, mental, emotional and spiritual state.</p>
      </div>
    </div>
  </div>
</div>
{% include we-are-here.html theme="theme-secondary" %}
