<div id="footer-top" class="section theme-purple-dark">
  <div class="container-full">
    <div class="row">
      <div class="col s12 site-map">
        <hgroup>
          <h5>Monika Huppertz</h5>
        </hgroup>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">Activations</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
              <a href="/" class="home">All </a>
            </div>
          </li>
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">Energy Healing</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
            </div>
          </li>
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">Events</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
              <a href="/events.html" class="home">All Events</a>
              <a href="/events.html">Coming Soon</a>
            </div>
          </li>
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">Portal</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
              <a href="/about.html">About</a>
              <a href="/contact.html">Contact</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer-bottom" class="section theme-primary-darken-3">
  <div class="container-full">
    <div class="row">
      <div class="col s12 d-flex">
        <ul class="legal-copyright">
          <li class="copyright">&copy; <span id="date"></span> Monika Huppertz</li>
          <li>
            <a href="/medical-disclaimer">Medical Disclaimer</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms">Terms & Conditions</a>
          </li>
        </ul>
        <ul class="social-media">
          <li>
            <a href="javascript:"></a>
          </li>
          <li>
            <a href="javascript:"></a>
          </li>
          <li>
            <a href="javascript:"></a>
          </li>
          <li>
            <a href="javascript:"></a>
          </li>
          <li>
            <a href="javascript:"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
