<div class="section {{ include.theme }}">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h3>QiGong Videos</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="tiles count-3">
          <a href="javascript:">
            <article class="video-link">
              <div class="media">
                <img alt="svg" src="assets/media/svg/play.svg" onload="SVGInject(this)">

                <img
                  src="assets/images/qigong.jpg">
              </div>
              <div class="content">
                <h6>Heart Center</h6>
              </div>
            </article>
          </a>
          <a href="/three-worlds.html">
            <article>
              <div class="media">
                <img src="assets/images/qigong.jpg">
              </div>
              <div class="content">
                <h6>Relief Stress & Anxiety</h6>
              </div>
            </article>
          </a>
          <a href="/sacred-geometry.html">
            <article>
              <div class="media">
                <img
                  src="assets/images/qigong.jpg">
              </div>
              <div class="content">
                <h6>Energize!</h6>
              </div>
            </article>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
