<div class="section {{ include.theme }}">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h3>Step into the Journey!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="tiles count-4">
          <a href="/activations.html">
            <figure class="aspect-1x1">
              <img src="assets/images/activation.jpg">
              <figcaption>
                <h5>Activations</h5>
              </figcaption>
            </figure>
          </a>
          <a href="/energy-healing.html">
            <figure class="aspect-1x1">
              <img src="assets/images/energyhealing.jpg">
              <figcaption>
                <h6>Energy Healing</h6>
              </figcaption>
            </figure>
          </a>
          <a href="/qigong.html">
            <figure class="aspect-1x1">
              <img src="assets/images/qigong.jpg">
              <figcaption>
                <h6>QiGong</h6>
              </figcaption>
            </figure>
          </a>
          <a href="/retreats.html">
            <figure class="aspect-1x1">
              <img src="assets/images/retreats.jpg">
              <figcaption>
                <h6>Retreats</h6>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
