<div class="section {{ include.theme }}">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h3>Step into your Journey!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="tiles count-4">
          <a href="/products.html">
            <figure class="aspect-1x1">
              <img src="assets/images/books.jpg">
              <figcaption>
                <h5>Products</h5>
              </figcaption>
            </figure>
          </a>
          <a href="/services.html">
            <figure class="aspect-1x1">
              <img src="assets/images/handslight.jpg">
              <figcaption>
                <h6>Services</h6>
              </figcaption>
            </figure>
          </a>
          <a href="/kaleidoscope.html">
            <figure class="aspect-1x1">
              <img src="assets/images/kaleidoscope.jpg">
              <figcaption>
                <h6>Kaleidoscope Healing</h6>
              </figcaption>
            </figure>
          </a>
          <a href="/testimonials.html">
            <figure class="aspect-1x1">
              <img src="assets/images/testimonials.jpg">
              <figcaption>
                <h6>Testimonials</h6>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
